.header {
  display: flex;
  justify-content: center;
}

.header__wrapper {
  display: flex;
  width: 100%;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__link:hover {

}

.logo__link:focus {

}

.header-navigation__list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 25px 0;
}

.header-navigation__link_active {
  border-bottom: 7px #fff solid;
  padding: 19px 0;
}