.main {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.bread-crumbs, .main-title, .services {
  width: 100%;
}

.bread-crumbs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bread-crumbs__list {
  display: flex;
  gap: 20px;
}

.bread-crumbs__item_active {
  color: #ABA9A7;
}

.main-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title__separator {
  width: 100%;
  max-width: 160px;
}

.services {
  display: flex;
  gap: 40px;
}

.service-prices, .products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.product {
  display: flex;
  gap: 10px;
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.service-prices__table {
  border-collapse: collapse;
}

.service-prices__cell {
  width: 50%;
  padding: 10px;
  border: 2px solid black;
}

.service-prices__cell_centered {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__description {
  display: flex;
  gap: 40px;
}

.about__text {
  width: 50%;
  line-height: 23px;
}
@import url(sredstvo.css);
@import url(price.css);
.main{
    background-color: #fff;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px 10%;
    gap: 30px;
}


.content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
 
}
.about{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text{
    display: flex;
    gap: 40px;
}
.text__text{
    width: 50%;
}
.content__title{
    display: flex;
    flex-direction: column;
}
.bread-crumbs{
    align-self: start;
}
.main__list{
    display: flex;
    gap: 20px;
}
.main__list__item_now{
    color: #7c7c7c;
}
.main-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main-title__separator{
    width: 160px;
    height: 2px;
    
}